h1{
    color: yellow;
    background-color: black;
}
/*img{
    border: solid;
    border-radius: 25px;
    border-color: black;
    border-width: 5px;
}*/

.bodyImg img{
    border: solid;
    border-radius: 25px;
    border-color: black;
    border-width: 5px;
}

.header{
    background-color: black;
    display: flex;
    justify-content: space-between;
}

.grid{
    display: flex;
    flex-wrap: wrap;
}

.grid img{
    border: 2px solid black;
    border-radius: 50px;
}

.origami{
    border-radius: 20px;
    background-color: white;

    width: 310px;
    font-family: fantasy;
}